@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Lexend+Deca&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400&family=Roboto:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


:root {
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --hbb: hsl(0, 0%, 95%);
}

body {
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Epilogue', sans-serif;
    background-color: var(--hbb);
    display: flex;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
    padding: 2rem;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: var(--hbb);
    font-size: 2.2rem;
    text-transform: uppercase;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35%;

}


.card {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: flex-start;

}

.card img {
    width: 70px;
    margin-bottom: 1.5rem;
}

.card h1 {
    margin-bottom: 1.5rem;
}

.card a {
    padding: .8rem 1.3rem;
    background-color: var(--hbb);
    border-radius: 50px;
}

.card p {
    color: var(--paragraphs);
    margin-bottom: 3rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: lighter;
    line-height: 1.5rem;
    font-size: .9rem;
    max-width: 250px;
}

#sedans {
    background-color: var(--BrightOrange);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#sedans a {
    color: var(--BrightOrange);
}

#suvs {
    background-color: var(--DarkCyan);
}

#suvs a {
    color: var(--DarkCyan);
}

#luxury {
    background-color: var(--VeryDarkCyan);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#luxury a {
    color: var(--VeryDarkCyan);
}

.attribution {
    margin-top: 2rem;
}


@media (min-width:835px) {
    .container {
        grid-template-columns: 23% 23% 23%;
        justify-content: center;
    }


    .card {
        display: flex;
        padding: 3rem;
        align-items: flex-start;
        justify-content: center;
        height: 380px;
    }


    #sedans {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
    }


    #luxury {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 0;
    }

    .attribution {
        margin-top: 20px;
    }

}


@media (min-width:520px) and (max-width:830px) {
    .card p {
        min-width: 95%;
    }
}